﻿<div class="col-md-6 col-md-offset-3">
    <p>
        <a [routerLink]="['/']">Home</a>
    </p>
    <h1>{{ 'languee' | translate }}</h1>
<button (click)="selectLanguage('es')">Español</button>
<button (click)="selectLanguage('en')">English</button>
<button (click)="selectLanguage('ru')">Русский</button>

<h1>{{ '¡Hola mundo!' | translate }}</h1>
<h2>{{ 'rojo' | translate }}</h2>

  
</div>