﻿<div class="col-md-6 col-md-offset-3">

    <p>
        <a [routerLink]="['/language']">Language</a> <a [routerLink]="['/login']">Logout</a>
    </p>
    <h1>Hi {{currentUser.user.email}}!</h1>
    <p>You're logged in with Angular 2/5 and Angular CLI!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users.users">
            {{user.id}} ({{user.email}} )
            <!-- -  <a (click)="deleteUser(user.id)">Delete</a>  -->
        </li>
    </ul>
   
</div>